/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color: #333;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 1.2em;

}

/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0px;
}

/*  
 style all a tags in header 
 and then on hover */


.navbar-links a {
    color: whitesmoke;
    background-color: #333;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert (1);
    border-radius: 10px;
}

img:hover {
    filter: saturate(100%);
}


/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps */

/* hamburger menu navbar code (navbar is for phone users */
@media screen and (min-width:1000px) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex !important;
        justify-content: space-between;
    }

}

/* Refactored code from https://codepen.io/angeladelise/pen/NWGWmPZ */

:root {
    --animation-curve: cubic-bezier(1, 0, 0, 1);
  }
  
  body {

    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  label {
    width: 4em;
    height: 1.5em;
    background-color: white;
    position: absolute;
    cursor: pointer;
    right: 0;

  }
  label::before, label::after {
    content: "";
    width: 4em;
    height: 1.5em;
    background-color: white;
    position: absolute;
    display: block;
    color: red;
    transition: all 0.6s var(--animation-curve);
  }
  label::before {
    top: -125%;
    left: 0%;
    transform: rotateZ(0deg);
    transform-origin: right bottom;
  }
  label::after {
    bottom: -125%;
    left: 0%;
    transform: rotateZ(0deg);
    transform-origin: right top;
  }
  
  #toggle:checked ~ label::before {
    content: "";
    background-color: white;
    transform: rotateZ(-90deg);
    left: 10%;
  }
  
  #toggle:checked ~ label::after {
    content: "";
    background-color: white;
    transform: rotateZ(90deg);
    left: 10%;
  }
  
  #toggle:checked ~ label {
    background-color: #333;
  }
  
  #toggle ~ label {
    transition: all 0.5s var(--animation-curve);
  }
  
  input {
    display:grid;
  }



#toggle:checked ~ ul {
    display:none;
}


a:hover,
a.active {
    background: none;
    color: #0082e6;
}

#check:checked~ul {
    left: 0;
}