body {
    font-family:Julee;
    background-color: #6D2BB3;
    color: #B3B236;
}


h1, h2, h3, h4, h5, h6 {
    font-family: PT Sans Narrow;
    font-size: 38pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#FFFF70;
    border: 2px solid #9A44FC;
    background-color:#5532E6;
    text-align:center;
    padding:10px;
}
/*Hero Section*/
#hero img {
    width:200px;
}
/* Bio Section */
#bio {
    text-align:center;
}
/* Hobbies Section */
#hobbies {
    text-align:center;
}


#hobbies * {
}




#hobbies ul {
    width:350%;
    margin-left:auto;
    margin-right:auto;
}


#hobbies ul li {
    text-align:left;
}


#hobbies ul li:nth-child(3n+1) {
    color:yellow;
}
#hobbies ul li:nth-child(3n+2) {
    color:red;
}

/* Photo Gallery */
#gallery * {
    border:2px solid #B3B236;
    text-align:center;
}


#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}
